html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
  }
  .content {
    padding-bottom: 50px; /*隨footer高度需做調整*/
  }
  .footer {
    height: 50px; /*設定footer本身高度*/
    margin-top: -50px; /*隨footer高度需做調整*/
    background-color: blue;
  }