<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>attractiona</title>
    <script>
        let photosCount=0
        let displayPhotoIndex=0
        let allPhotoUrlList=[]
        let userName=""
        async function init(){
            getMemberInfo()
            await buildCatList()
        }
        async function buildCatList(){
            let url = location.href.split("/")
            let urlId = url[url.length-1]
            url="/api/attraction/"+urlId
            let response= await fetch(url)
            let data=await response.text()
            let jData=JSON.parse(data)
            console.log(jData)
            window.document.getElementById("attractionName").textContent=jData['data']['name']
            window.document.getElementById("catAtMrt").textContent=jData['data']['category']+" at " + jData['data']['mrt']
            window.document.getElementById("description").textContent=jData['data']['description']
            window.document.getElementById("address").textContent=jData['data']['address']
            window.document.getElementById("mrt").textContent=jData['data']['mrt']
            window.document.getElementById("transport").textContent=jData['data']['transport']
            createPhotoListAndGenerateOnWeb(jData)
            //產生裝有所有圖片的div，並預顯示第一張照片
            function createPhotoListAndGenerateOnWeb(jData){
                let allPhotoUrlList=jData['data']['images']
                console.log(allPhotoUrlList)
                photosCount=allPhotoUrlList.length
                console.log(allPhotoUrlList.length)
                let photos=window.document.getElementById("photos") 
                let onephoto=window.document.createElement('div')
                onephoto.setAttribute("class","onephoto")
                let photoName="photo0"
                onephoto.setAttribute("id",photoName)
                onephoto.style.display="block"
                onephoto.style.opacity=1
                //載入並顯示第一張圖片
                url="url(" + "'" + allPhotoUrlList[0] + "'" + ")"
                onephoto.style.backgroundImage=url
                photos.appendChild(onephoto)
                //創造多筆div存放其他圖片方便之後讀取
                for(let i=1;i<photosCount;i++){
                    let onephoto=window.document.createElement('div')
                    onephoto.setAttribute("class","onephoto")
                    let photoName="photo"+String(i)
                    onephoto.setAttribute("id",photoName)
                    console.log(photoName)
                    console.log("iii")
                    url="url(" + "'" + allPhotoUrlList[i] + "'" + ")"
                    onephoto.style.backgroundImage=url
                    console.log(url)
                    photos.appendChild(onephoto)
                }
                let underbubbleSpace=window.document.getElementById("underbubbleSpace")
                for(let i=0;i<allPhotoUrlList.length;i++){
                    let bubble=window.document.createElement("div")
                    bubble.setAttribute("class","bubble")
                    let bubbleInside=window.document.createElement("div")
                    bubbleInside.setAttribute("class","bubbleInside")
                    let bubbleId="bubble"+String(i)
                    console.log(bubbleId)
                    bubbleInside.setAttribute("id",bubbleId)
                    underbubbleSpace.appendChild(bubble)
                    bubble.appendChild(bubbleInside)
                }
                let bubble0=window.document.getElementById("bubble0")
                bubble0.style.display="flex"
                bubble0.style.opacity=1
            }
        }
        //更換價格
        function changePrice(price){
            let showPrice = window.document.getElementById("showPrice")
            showPrice.textContent="新台幣" + price + "元"
        }
        //響應左右選擇鍵，更換照片與下方圓點
        function changePhoto(value){
            console.log(displayPhotoIndex)
            beforeBubbleId="bubble"+String(displayPhotoIndex)
            let beforeBubble=window.document.getElementById(beforeBubbleId)
            beforePhotoId="photo"+String(displayPhotoIndex)
            console.log(beforePhotoId)
            let beferPhoto=window.document.getElementById(beforePhotoId)
            beferPhoto.style.display="none"
            beferPhoto.style.opacity=0
            beforeBubble.style.display="none"
            beforeBubble.style.opacity=0
            displayPhotoIndex=displayPhotoIndex+value
            if(displayPhotoIndex < 0){
                displayPhotoIndex=photosCount-1
            }
            if(displayPhotoIndex == photosCount){
                displayPhotoIndex=0
            }
            afterBubbleId="bubble"+String(displayPhotoIndex)
            let afterBubble=window.document.getElementById(afterBubbleId)
            afterBubble.style.display="flex"
            afterBubble.style.opacity=1
            afterPhotoId="photo"+String(displayPhotoIndex)
            let afterPhoto=window.document.getElementById(afterPhotoId)
            afterPhoto.style.display="block"
            afterPhoto.style.opacity=1
        }
        //網頁載入時取得會員資料
        function getMemberInfo(){
            fetch("/api/user/auth",{
                method:"get"
            })
            .then((res)=>res.json())
            .then((data)=>{
                console.log(data)
                if(data!=null){
                login=window.document.getElementById("login")
                signOut=window.document.getElementById("signOut")
                login.style.display="none"
                signOut.style.display="inline-block"
                userName=data["data"]["name"]
                console.log(userName)
                
                }
            })
        }


        // 打開登入帳號介面
        function showloginBackground(){
            backgroundFilter=window.document.getElementById("backgroundFilter")
            backgroundFilter.style.display='flex'
            loginLayout=window.document.getElementById("loginLayout")
            loginLayout.style.display='flex'
        }
        // 發送登入帳號請求
        function sendFormDataToLogin(){
            event.preventDefault()
            let fd = new FormData()
            fd.append("email",document.getElementById("inputEmail").value)
            fd.append("password",document.getElementById("inputPassword").value)
            fetch("/api/user/auth",{
                method:'put',
                body:fd,
            })
            .then((res)=>res.json())
            .then((data)=>{
                if("error" in data){
                    message=document.getElementById("message")
                    message.innerHTML=data["message"]
                }
                if("ok" in data){
                    message=document.getElementById("message")
                    message.innerHTML="登入成功"
                    location=location
                }
            })
        }
        // 發送創建帳號請求
        function sendFormDataToRegisterAccount(){
            event.preventDefault()
            let fd=new FormData()
            fd.append("name",document.getElementById("inputNameRegister").value)
            fd.append("email",document.getElementById("inputEmailRegister").value)
            fd.append("password",document.getElementById("inputPasswordRegister").value)
            fetch("/api/user",{
                method:'post',
                body:fd,
            })
            .then((res)=>res.json())
            .then((data)=>{
                console.log("error" in data)

                if("error" in data){
                    message=document.getElementById("messageRegister")
                    message.innerHTML=data["message"]
                }
                if("ok" in data){
                    message=document.getElementById("messageRegister")
                    message.innerHTML="新帳號註冊成功"
                }
            })

        }
        // 發送登出請求
        function signOutAccount(){
            fetch("/api/user/auth",{
                method:"delete"
            })
            .then((res)=>res.json())
            .then((data)=>{
                console.log(data)
                if("ok" in data){
                    location=location
                }
            })
        }
        // 關閉登入、創建帳號介面
        function closeLoginWindow(){
            backgroundFilter=window.document.getElementById("backgroundFilter")
            backgroundFilter.style.display='none'
            loginLayout=window.document.getElementById("loginLayout")
            loginLayout.style.display='none'
            loginLayout=window.document.getElementById("registerLayout")
            loginLayout.style.display='none'
        }
        // 切換重創建帳號介面
        function registerAccount(){
            loginLayout=window.document.getElementById("loginLayout")
            loginLayout.style.display='none'
            loginLayout=window.document.getElementById("registerLayout")
            loginLayout.style.display='flex'
        }
        // 切換回登入介面
        function returnToLoginPage(){
            loginLayout=window.document.getElementById("loginLayout")
            loginLayout.style.display='flex'
            loginLayout=window.document.getElementById("registerLayout")
            loginLayout.style.display='none'
        }
        //加入mousedown效果，增加按鈕的感覺
        function mousedown(i){
            i.style.opacity="0.8"
        }
        //按完後回復原狀
        function mouseup(i){
            i.style.opacity="1"
        }
        // 送出訂單請求
        function sendOrderRequest(){
            //停止預設的submit
            event.preventDefault()
            let url = location.href.split("/")
            let attractionId = url[url.length-1]            
            console.log(document.getElementById("dateInput").value)
            console.log(document.getElementById("ritema").checked)
            console.log(document.getElementById("ritemb").value)
            console.log(document.getElementById("showPrice").textContent)
            console.log(attractionId)
            let time=""
            let price=0
            if(document.getElementById("ritema").checked){
                time="morning"
                price=2000
            }
            if(document.getElementById("ritemb").checked){
                time="afternoon"
                price=2500
            }
            if(time==""){
                event.preventDefault()
            }
            formData=new FormData()
            formData.append("date",document.getElementById("dateInput").value)
            formData.append("time",time)
            formData.append("price",price)
            formData.append("attractionId",attractionId)
            fetch("/api/booking",{
                method:"post",
                body:formData
            })
            .then((res)=>res.json())
            .then((data)=>{
                console.log(data)
                if(data["message"]=="請先登入帳號"){
                    showloginBackground()
                }
                if("ok" in data)
                    location.href="/booking"
            })
        }
        function directToBooking(){
            if(userName==""){
                showloginBackground()
            }else{
                location.href="/booking"
            }
        }

        // 回首頁
        function toIndexPage(){
            location.href="/"
        }
    </script>
</head>
<body style="color: #666666;" onload="init()">
    <div id="backgroundFilter" class="backgroundFilter"></div>
    <div id="loginLayout" class="loginLayout">
        <div id="loginBox" class="loginBox" >
            <div class="loginForm" id="loginForm">
                <div class="loginTitle">
                    會員登入帳號
                    <div id="closeButton" class="closeButton" onclick="closeLoginWindow()" onmousedown="mousedown(this)" onmouseup="mouseup(this)" onmouseleave="mouseup(this)"><img src="/static/icon_close.png"></div>
                </div>
                <form id="loginInfoForm" class="loginInfoForm">
                    <input id="inputEmail" class="inputEmailAndPassword" type="text" name="email" placeholder="  輸入電子信箱">
                    <input id="inputPassword" class="inputEmailAndPassword"  type="password" name="password" placeholder="  輸入密碼">
                    <div>
                        <input onclick="sendFormDataToLogin()" onmousedown="mousedown(this)" onmouseup="mouseup(this)" onmouseleave="mouseup(this)" class="inputSubmit" type="submit" name="email" placeholder="輸入電子信箱" value="登入帳戶" >
                    </div>
                </form>
                <div class="loginEndText" onclick="registerAccount()" onmousedown="mousedown(this)" onmouseup="mouseup(this)" onmouseleave="mouseup(this)">還沒有帳戶 ?<u> 點此註冊</u></div>
                <div id="message" class="message"></div>

            </div>
        </div>
    </div>
    <div id="registerLayout" class="registerLayout">
        <div id="registerBox" class="registerBox" >
            <div class="registerForm" id="registerForm">
                <div class="loginTitle">
                    註冊會員帳號
                    <div id="closeButton" class="closeButton" onclick="closeLoginWindow()"  onmousedown="mousedown(this)" onmouseup="mouseup(this)" onmouseleave="mouseup(this)"><img src="/static/icon_close.png"></div>
                </div>
                <form id="loginInfoForm" class="loginInfoForm">
                    <input id="inputNameRegister" class="inputEmailAndPassword" type="text" name="name" placeholder="  輸入姓名">
                    <input id="inputEmailRegister" class="inputEmailAndPassword" type="text" name="email" placeholder="  輸入電子信箱">
                    <input id="inputPasswordRegister" class="inputEmailAndPassword"  type="password" name="password" placeholder="  輸入密碼">
                    <div>
                        <input onclick="sendFormDataToRegisterAccount()" onmousedown="mousedown(this)" onmouseup="mouseup(this)" onmouseleave="mouseup(this)" class="inputSubmit" type="submit" name="email" placeholder="輸入電子信箱" value="註冊帳號" >
                    </div>
                </form>
                <div class="loginEndText" onclick="returnToLoginPage()" onmousedown="mousedown(this)" onmouseup="mouseup(this)" onmouseleave="mouseup(this)"><u>已有帳號，回到登入頁面</u></div>
                <div id="messageRegister" class="message"></div>

            </div>
        </div>
    </div>
    <div class="box">
        <div class="outsideTop"></div>
        <div class="insideTop">
            <div class="topLeft" onclick="toIndexPage()" onmousedown="mousedown(this)" onmouseup="mouseup(this)">台北一日遊</div>
            <div class="topRight">
                <div class="scheduld" onclick="directToBooking()">預定行程</div>
                <div id="login" class="login" onclick="showloginBackground()" onmousedown="mousedown(this)" onmouseup="mouseup(this)" onmouseleave="mouseup(this)">登入/註冊</div>
                <div id="signOut" class="signOut" onclick="signOutAccount()" onmousedown="mousedown(this)" onmouseup="mouseup(this)" onmouseleave="mouseup(this)">登出</div>
            </div>
        </div>
        <div class="outsideTop"></div>
    </div>
    <div class="wrapper">
<!-- -------------分隔線中間為此葉面特別內容，其他為固定板型---------------- -->

        <div class="spaceUnderTopBar"></div>
        <div class="attractionPageContentBox">
            <div class="attractionContentOutside"></div>
            <div class="attractionContentInside">
                <div class="photoAndBooking">
                    <div class="photos" id="photos">
                        <div class="leftPhotoButtonBox" id="leftPhotoButtonBox">
                            <button id="leftPhotoButtonItem" class="leftPhotoButtonItem" onclick="changePhoto(-1)" onmousedown="mousedown(this)" onmouseup="mouseup(this)" onmouseleave="mouseup(this)">
                                <img src="/static/btn_leftArrow.png">
                            </button>
                        </div>
                        <div class="underbubbleSpace" id="underbubbleSpace">
                        </div>
                        <div class="rightPhotoButtonBox" id="rightPhotoButtonBox">
                            <button id="rightPhotoButtonItem" class="rightPhotoButtonItem" onclick="changePhoto(1)" onmousedown="mousedown(this)" onmouseup="mouseup(this)" onmouseleave="mouseup(this)">
                                <img src="/static/btn_rightArrow.png">
                            </button>
                        </div>
                    </div>
                    <div class="booking">
                        <div id="attractionName" class="attractionName"></div>
                        <div id="catAtMrt" class="catAtMrt">  </div>
                        <form id="myform" class="myform">
                            <div>訂購導覽行程</div>
                            <div>以此景點為中心的一日行程，帶您探索城市角落故事</div>
                            <div>選擇日期：<input type="date" id="dateInput"></div>
                            <div class="selectTime">選擇時間：
                                <span class="radio-item">
                                    <input type="radio" id="ritema" name="ritem" value="2000" onclick="changePrice(value)">
                                    <label for="ritema">上半天</label>
                                </span>
                                <span class="radio-item">
                                    <input type="radio" id="ritemb" name="ritem" value="2500" onclick="changePrice(value)">
                                    <label for="ritemb">下半天</label>
                                </span>
                            </div>
                            <div>導覽費用：<span id="showPrice"></span></div>
                            <input onclick="sendOrderRequest()" onmousedown="mousedown(this)" onmouseup="mouseup(this)" onmouseleave="mouseup(this)" type="button" value="開始預約行程" class="formSubmitButton" >
                        </form>
                    </div>
                </div>
                <hr class="hrColor">
                <div class="allText">
                    <div class="description" id="description"></div>
                    
                    <div class="address" >
                        <div style="font-size:large;font-weight: bolder;">景點地址 :</div>
                        <div id="address"></div>
                    </div>
                    <div class="transportation">
                        <div style="font-size:large;font-weight: bolder;">交通方式 :</div>
                        <span id="mrt">捷運站名。</span><span id="transport">交通方式。</span>
                    </div>
                </div>
            </div>
            <div class="attractionContentOutside" ></div>
        </div>
<!-- ----------------------------- -->

    </div>
    <div class="footer" id="footer">
        <div class="footerText">COPYRIGHT © 2021 台北一日遊</div>
    </div>
</body>
</html>